/* Custom css */

ul.header.links li {
    display: inline;
    font-size: 12px;
    padding: 12px;
}
.top-links {
    background: white;
    margin: 0 !important;
}
ul.header.links {
    float: right;
}
.level-1 {
    background-color : #BDB76B;
    /*  dark khaki*/
}
.level-2 {
    background-color : #FFA07A;
    /* light salmon */
}
.level-3 {
    background-color : #87CEFA;
    /* light sky blue */
}
.level-4 {
    background-color : #BC8F8F;
    /* rosy brown */
}
.level-5 {
    background-color : #00BFFF;
    /* deep sky blue  */
}
.level-6 {
    background-color : #8A2BE2;
    /* blue violet */
}
.level-7 {
    background-color : #FF8C00;
    /*  dark orange */
}
.level-8 {
    background-color : #808080;
    /* grey  */
}
.level-9 {
    background-color : #ADFF2F;
    /* green yellow */
}
.level-10{
    background-color : #808000;
    /* olive */
}
